[submodule "external/cbs.d"]
	path = external/cbs.d
	url = git@github.com:trenthuber/cbs.git
[submodule "external/raylib"]
	path = external/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git
